.small-button {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.small-button:hover {
  background-color: #caffea;
  box-shadow: 0px 15px 20px rgba(215, 248, 234, 0.4);
  transform: translateY(-7px);
}

.small-button:active {
  transform: translateY(-1px);
}
