.terminal-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: #8ec07c;
  font-family: monospace;
  padding: 20px;
}

.terminal-title {
  font-size: 1.5em;
  padding: 5px 10px;
}

.terminal-text {
  font-size: 1em;
  padding: 10px;
  margin-top: 10px;
}

.terminal-text a {
  color: #8ec07c;
  text-decoration: none;
}

.terminal-text a:hover {
  text-decoration: underline;
}

.highlight {
  color: #d3d3d3;
  padding: 2px 5px;
}
