/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

/* Import Tailwind CSS Styles */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Global Styles */
html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

#main::after {
  content: "";
  display: block;
  position: absolute; /* Positioning inside the #main element */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/src/assets/images/scattered-forcefields.svg");
  background-size: cover; /* Or 'contain', depending on how you want to size the image */
  pointer-events: none; /* Prevents the pseudo-element from capturing clicks */
  z-index: -1; /* Ensures the background is behind the content */
}

/* Section Styles */
section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 100vh;
}

section.padding {
  padding: 5rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100vmax;
  z-index: -1;
}

/* Typography Styles */
h1 {
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
}

p.large {
  font-size: 24px;
}

p.small {
  font-size: 15px;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}

/* Container Styles */
.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 330px 300px;
  margin: 20px 4rem;
}

.container .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
}

.verticalContainer {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  align-items: center;
}

/* Media query for mobile devices */
@media (max-width: 640px) {
  .verticalContainer {
    padding-top: 1rem; /* Smaller padding-top on mobile */
    margin-left: 1rem; /* Smaller left margin on mobile */
    margin-right: 1rem; /* Smaller right margin on mobile */
  }
}

.verticalContainer .box {
  width: 100%;
  background-color: #fff; /* Set the background color */
  border-radius: 8px;
  border: 1px solid rgb(204, 204, 204);
  padding: 24px 16px;
  text-align: left;
  position: relative;
  margin-bottom: 1.5rem;
  transition: background-color 0.2s; /* Smooth transition for hover effect */
  max-width: 100rem;
}

.box:hover {
  background-color: rgb(245, 245, 245); /* Slightly darker background on hover */
}

.box li {
  font-size: 0.875rem; /* Smaller font size for details */
  color: rgb(105, 105, 105); /* Dark gray color */
}

.box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* Space between list items */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 1rem 0; /* Space above and below the list */
}

.horizonalContainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  /* column-count: 3; 
  column-gap: 20px; */
  width: 100%;
}

@media (max-width: 1080px) {
  .horizonalContainer {
    column-count: 2; /* Number of columns */
    column-gap: 20px;
    width: 100%;
  }
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 640px) {
  .horizonalContainer {
    padding-top: 5px; /* Smaller padding-top on mobile */
    margin-left: 1rem; /* Smaller left margin on mobile */
    margin-right: 1rem; /* Smaller right margin on mobile */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.horizonalContainerBox {
  break-inside: avoid; /* Prevents boxes from being split across columns */
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
  max-width: 55rem; /* optional, adjust as needed */
}

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 640px) {
  .horizonalContainerBox {
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 16px;
    text-align: center;
    flex: 0 0 auto;
    width: 100%;
  }
}

/* ImageWrapper.css */
.image-wrapper {
  width: 95%; /* Adjust the width as needed */
  height: 0; /* Use padding-top for aspect ratio */
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
  margin: auto; /* Center the wrapper if needed */
  overflow: hidden;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* White transparent overlay */
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 2; /* Ensure overlay is above images/videos */
}

.image-wrapper:hover::before {
  opacity: 0; /* Remove overlay on hover */
}

.image-wrapper img,
.image-wrapper iframe {
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image-wrapper:hover img,
.image-wrapper:hover iframe {
  transform: scale(1.03); /* Magnify image or iframe */
  z-index: 3;
}

/* Pair Section */
.degreeGpaPair {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none; /* Optional: Removes underline from the link */
}

.degree {
  /* styles for each degree */
  flex-basis: 40px;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
  flex-grow: 1;
  text-align: left;
}

.gpa {
  /* styles for each GPA */
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
  flex-shrink: 0;
}

.achievementResultPair {
  display: flex;
  justify-content: space-between; /* This will push the first item to the start and the last item to the end */
  align-items: center; /* Align items vertically in the center */
  width: 100%; /* Ensure the flex container takes full width */
  margin-bottom: 0.5rem; /* Space between each pair */
}

.achievementPair {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the first item to the start and the last item to the end */
  align-items: left; /* Align items vertically in the center */
  text-align: left;
  width: 100%; /* Ensure the flex container takes full width */
  margin-bottom: 0.5rem; /* Space between each pair */
}

.achievementTitle {
  /* styles for each achievement */
  font-size: 1rem;
  flex-grow: 1; /* Allow it to grow to fill space */
  text-align: left; /* Align the text to the left */
}

.achievementTechnologies {
  /* Styles for the technologies used in the project */
  display: block; /* Ensure it appears on its own line */
  font-size: 0.8rem; /* Smaller font size for technologies */
  color: #6c757d; /* A lighter color for the technologies, adjust as needed */
}

.result {
  /* styles for each result */
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0.5rem; /* Space between the achievement and the result */
  text-align: right; /* Align the text to the right */
  white-space: nowrap; /* Prevent wrapping to ensure it stays aligned to the right */
  flex-shrink: 0; /* Prevent it from shrinking */
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

/* add a slide in animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: 3s ease-out 0.8s 1 slideIn;
}

/* add a slide out animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.scroll-down-arrow {
  animation: bounce 2s infinite;
}
